/*Put CSS here*/

html {
	background-color: #000;
	color: #FFF;
}


#allEmployees {
	display: flex;
	flex-wrap: wrap;
}

.emloyeeBox {
	font-size: 1em;
	margin: 5rem;
	background: #222222;
	justify-content: center;
	text-align: center;
}

.workdayBox {
	display: flex;
}

.workday {
	height: 2rem;
	width: 2rem;
	background-color: #555;
	margin: 1rem;
}

.workdayPresent{
	background-color: #0000ff;
}