<!DOCTYPE html>
<html>
<head>
	<title>BirthdayCalendar</title>
	<script type="text/javascript" src="/static/js/index.js"></script>
	<script type="text/javascript" src="/static/js/headNav.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/styles.css">
</head>
<body>
	<nav id="headNav" class="headNav">
	</nav>
	
	<hr>
	<div id="datePicker">
		<label for="presentsFrom">Geschenke von:</label>
		<input type="date", id="presentsFrom" name="presentsFrom">
		<label for="presentsTo">Geschenke bis:</label>
		<input type="date", id="presentsTo" name="presentsTo">

		<div id="isDone"  class="datePickerButton all">
			All
		</div>

		<div id="search" class="datePickerButton">
			GO!
		</div>
	</div>

	<div id ="allPresents">
	</div>
	<br>
	<hr>
	<div id="allKids">
	</div>


</body>
</html>